<h1>Quests</h1>

<p><%= link_to 'Create a Quest', new_user_quest_path(user_id:  :params[@user.id]) %></p>

<div id="quests">
</div>

<script type="text/javascript">

    getQuests(function(quests) {
        let appendQuest = '';
        quests.forEach(function(quest) {
            appendQuest += quest.showQuestSummary();
        });
        $('#quests').html(appendQuest);
    });
</script>


