<p>Name: <%= @event.name %></p>
<p>Description <%= @event.description %></p>

<% if @event.combat? %>
    <p>Yes</p>
<% else %>
    <p>No</p>
<% end %>

<% if @event.social? %>
    <p>Yes</p>
<% else %>
    <p>No</p>
<% end %>

<% if @event.search? %>
   <p>Yes</p>
<% else %>
    <p>No</p>
<% end %>