<p>Name: <%= @event.name %></p>
<p>Description <%= @event.description %></p>
<% if @event.combat == true ? <p>Yes</p> : <p>No</p> %>
<% if @event.social == true ? <p>Yes</p> : <p>No</p> %>
<% if @event.social == true ? <p>Yes</p> : <p>No</p> %>
